$formgallery-height:                  20rem;
$formgallery-border-width:            $input-border-width;
$formgallery-border-color:            $input-border-color;
$formgallery-border-radius:           $input-border-radius;
$formgallery-box-shadow:              $input-box-shadow;
$formgallery-padding-x:               $input-padding-x;
$formgallery-padding-y:               $input-padding-x;

$formgallery-image-transition:        opacity .3s ease;